.site-title
{
    
font-family: $font__title;
font-size: clamp(1.5rem, #{'-0.875rem + 8.333vw'}, 4rem);
font-weight: bold;
color:black;
animation: pulse 5s infinite alternate;


a{
    text-decoration: none;
   
}
}

@keyframes pulse{
    0% {
        background-color: #0400ff;
      }
      100% {
        background-color: #09ff00;
      }
}
.site-description
{
    font-family: $font__title;
    font-size: clamp(.8rem, #{'-0.875rem + 8.333vw'}, 1.5rem);
    font-weight: bold; 
    text-align: center; 
    color:grey;
}

body.home{
    background-color:white;
    height: 100vh;
    width: 100vw;
}
 
body.home::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    @include tablette{
        clip-path: polygon(90% 0, 100% 0, 100% 100%, 50% 100%);
        background-color:rgb(0, 0, 212);
    }
  z-index: -1;
}
