.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: black;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
				
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}


/*---------------------------------------------------
Menu BURGER
----------------------------------------------------*/
.menu-toggle
{
	padding: 0rem;
	margin-left: 3rem;
	transition: transform .25s;
	transform: rotate(0deg);
	border:0;

}

.menu-toggle:hover,
.menu-toggle:focus
{
	background-color:white;
}

.menu-toggle:focus
{
	background-color: white;
	outline-offset: -4px;
}
.menu-toggle:active
{
	transform: scale(0.99);
}

.main-navigation.toggled .menu-toggle{
	transform: rotate(90deg);
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}



/*-----------------------VERSION TABLET------------------------*/


@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		height:4rem;
		justify-content: space-around;
		position: static;
		align-items: center;
		width:100vw;
		padding-right: 50px;
	}

	a{
		display: flex;
		justify-content: center;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
