a {
	color: $color__link;
	margin-left: 3rem;
	&:visited {
		color:black;
	}

	&:hover,
	&:focus,
	&:active {
		color:grey;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.main-navigation
{
	a{
		color:$color__linkmenu;
		margin-left:3rem;
		&:visited{
			color: darkgrey;
		}
	}
}